<p>signal-demo works!</p>
fullName: {{ fullName() }}<br>
fullName: {{ firstName() }} {{ lastName() }}<br>
fullName: {{ fullNameX }}
<hr />
<p>
  First name:
  <input
    type="text"
    #inputFirstName
    (input)="setFirstName(inputFirstName.value)"
    enOnly
  />
</p>
<p>
  Middle name: {{ middleName }}
  <input
    type="text"
    #inputMiddleName
    (input)="setMiddleName(inputMiddleName.value)"
  />
</p>
<p>
  LastName:
  <input
    type="text"
    #inputLastName
    (input)="setLastName(inputLastName.value)"
  />
</p>
