<p>image-directive-demo works!</p>


<!-- <img
sizes="(max-width: 1400px) 100vw, 1400px"
srcset="
/assets/img/crab_wku7ly/crab_wku7ly_c_scale,w_200.jpg 200w,
/assets/img/crab_wku7ly/crab_wku7ly_c_scale,w_514.jpg 514w,
/assets/img/crab_wku7ly/crab_wku7ly_c_scale,w_752.jpg 752w,
/assets/img/crab_wku7ly/crab_wku7ly_c_scale,w_955.jpg 955w,
/assets/img/crab_wku7ly/crab_wku7ly_c_scale,w_1125.jpg 1125w,
/assets/img/crab_wku7ly/crab_wku7ly_c_scale,w_1298.jpg 1298w,
/assets/img/crab_wku7ly/crab_wku7ly_c_scale,w_1400.jpg 1400w"
src="/assets/img/crab_wku7ly/crab_wku7ly_c_scale,w_1400.jpg"
alt=""> -->



<!-- <img src="/assets/img/bg.jpg" width="100" height="200" alt=""> -->
<img
  ngSrc="crab_wku7ly/crab_wku7ly_c_scale.jpg" width="1298" height="868"
  ngSrcset="200w, 514w, 752w, 955w, 1125w, 1298w, 1400w"
>
<!-- <img ngSrc="bg.jpg" fill> -->