<ul>
  <li routerLink="/signal-demo" >Signal Demo</li>
  <li routerLink="/destroy-ref-demo" >DestroyRef Demo</li>
  <li routerLink="/take-until-destroyed-demo" >TakeUntilDestroyed Demo</li>
  <li routerLink="/bind-router-input-demo" >BindRouterInput Demo</li>
  <li routerLink="/bind-router-input-demo/1" [queryParams]="{ keyword: 'BindRouterInput Demo With ID' }" >BindRouterInput Demo With ID</li>
  <li routerLink="/ng-template-outlet-strict-type-demo" >ngTemplateOutletStrictType Demo</li>
</ul>
<hr>
<router-outlet></router-outlet>
